# WordPress (Headless)
WORDPRESS_GRAPHQL_ENDPOINT=
WORDPRESS_REST_URL=
WORDPRESS_MEDIA_HOSTNAME=
WORDPRESS_USE_MOCK_DATA=true

# Site
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_NAME=
